@import '../../styles/shared.scss';

.cta_wrapper {
  @include flex;
  justify-content: space-between;
}

.page_title {
  font-size: to-rem(24);
  margin: to-rem(30) 0;
}

.search {
  width: 50%;
}

.count {
  margin-top: to-rem(30);
}

.empty_state {
  text-align: center;

  &_wrapper {
    @include flex;
    justify-content: center;
    margin-top: to-rem(30);
  }

  & > h2 {
    font-size: to-rem(20);
    margin-top: to-rem(15);
  }
}

.list {
  &_wrapper {
    display: grid;
    gap: to-rem(15);
    grid-template-columns: repeat(2, 1fr);
  }

  &_item {
    @include flex;
    background-color: var(--color_white);
    border-radius: to-rem(5);
    -webkit-box-shadow: to-rem(10 10 40) var(--color_grayVar9);
    box-shadow: to-rem(10 10 40) var(--color_grayVar9);
    list-style: none;
    margin-top: to-rem(30);
    padding: to-rem(15);
  }
}

.business {
  &_logo {
    background-image: url('../../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: to-rem(5);
  }

  &_details {
    margin-left: to-rem(15);
    width: 100%;
  }

  &_name {
    font-weight: 600;

    &_wrapper {
      @include flex;
      justify-content: space-between;
    }
  }

  &_description {
    -webkit-box-orient: vertical;
    color: var(--color_grayVarTwo);
    display: -webkit-box;
    font-size: to-rem(13);
    -webkit-line-clamp: 2;
    margin-top: to-rem(10);
    overflow: hidden;
  }

  &_contact {
    &_wrapper {
      @include flex;
      font-size: to-rem(14);
      justify-content: space-between;
    }

    @include flex;
    margin: to-rem(10) 0;
  }

  &_category {
    background-color: var(--color_azure);
    border-radius: to-rem(3);
    color: var(--color_primary);
    display: inline-block;
    font-size: to-rem(12);
    font-weight: 500;
    margin: to-rem(5);
    min-width: to-rem(80);
    opacity: 0.8;
    padding: to-rem(5 8);
    text-align: center;
  }
}

.contact_wrapper {
  color: var(--color_grayVarTwo);
  font-size: to-rem(12);
  margin-left: to-rem(8);
}

@media screen and (max-width: 600px) {
  .list_wrapper {
    width: 100%;
  }
}
