:root {
  --color_white: #fff;
  --color_red: #f00;
  --color_primary: #0066b8;
  --color_azure: #d6e4e4;
  --color_lightBlue: #96a0aa;
  --color_gray: #313030;
  --color_grayVarTwo: #6b6666;
  --color_grayVarThree: #272626;
  --color_grayVarFour: #1a2446;
  --color_grayVarFive: #f1e9e9;
  --color_grayVarSeven: #ece5e5;
  --color_grayVar8: #c8cdd2;
  --color_grayVar9: #0000000d;
  --color_jungleGreen: #33b27b;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li,
div,
section,
main,
header,
footer,
form,
label {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  font-size: 1rem;
  line-height: 1.4;
}

footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr_only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
