@import '../../styles/shared.scss';

.layout_wrapper {
  font-size: 13px;
  margin: to-rem(32);
  min-height: 50vh;

  @media (min-width: 768px) {
    font-size: 16px;
    margin: to-rem(77);
  }

  // Fallback for browsers that don't support vh e.g Opera Mini
  @supports not (min-height: 1vh) {
    min-height: 50%;
  }
}
