@import '../../styles/shared.scss';

.search {
  border: 0;
  color: var(--color_grayVarTwo);
  outline-color: var(--color_white);
  width: 100%;

  &_wrapper {
    @include flex;
    border: to-rem(1) solid var(--color_grayVarFive);
    border-radius: to-rem(3);
    font-size: to-rem(13);
    padding: to-rem(10);
    box-shadow: to-rem(1 2 3) var(--color_grayVarFive);
  }
}

.icon {
  cursor: pointer;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
