@import '../../styles/shared.scss';

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 50px;
}

.app_name {
  font-size: to-rem(30);
  font-weight: 600;
  text-align: center;
}
